# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
*.lock

# Node.js
functions/node_modules/
functions/package-lock.json

# Dart Generated
dataconnect-generated/

# IDEs
.vscode/
.idea/
*.iml
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Firebase & Credenciais
google-services.json
GoogleService-Info.plist
*.keystore
*.pem
serviceAccountKey.json

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.xcworkspace
*.xcuserstate

# Android
android/.gradle/
android/app/build/

# Outros arquivos sensíveis
.env
